@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/*ここから課題*/
div {
    max-width: 960px;
    background-color: #eeeeee;
}
.top {
    font-size: 30px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    color: green;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    max-width: 30%;
    background-color: white;
    margin: 0 20px 40px;
}
ul h2 {
    color: green;
    border-left: 10px solid forestgreen;
    margin: 10px;
    padding-left: 5px;
}
p {
    margin: 10px;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width: 400px) {
    ul {
        display: block;
    }
    li {
        max-width: 100%;
    }
}
