@charset "utf-8";

ul {
    display: flex;/*タグの子要素が横並びになる
    justify-content: flex-start;
    list-style: none;/*list-styleデフォルトは丸ぽちがつくがnoneで打ち消される
    max-width: 960px;/*コンテンツの横幅
    margin: 0 auto;/*サイトの中央に配置
}

ul li {
    padding: 0 20px;
    background: gray;
}

/*ipadの大きさが767px
@media screen and (max-width: 767px) {
    .wrap{
        display:block;
    }
    .wrap div{
        width:100%
    }