@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #2b2b2b;
    font-family: "dnp-shuei-nmincho-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /*0.3秒かけてかわる*/
    transition: 0.3s;
}

a:hover {
    /*不透明度*/
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/*ここから*/

body {
    background-image: url(../images/bg.jpg);
    background-size: 100% auto;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: 5px auto;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(58, 58, 58, 0.45);
}

.header_title {
    font-size: 55px;
}
.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 73px;
    margin-left: 42px;
}

.sp_nav,
.sp_btn,
.sp_only {
    display: none;
}

.section {
    max-width: 1000px;
    margin: 0 auto;
}

.load-fade {
    opacity: 0;
    transition: all 2s /*処理にかかる時間*/;
}

.load-fade.done {
    opacity: 1;
    transform: translate(0, 0);
}

.top_img {
    margin-top: 100px;
    margin-left: 50%;
    transform: translatex(-50%);
}
.top_img img {
    max-width: 600px;
    margin: 100%;
}

.lead {
    display: flex;
    justify-content: flex-start;
    margin-left: 22%;
    margin-top: 100px;
    margin-bottom: 70px;
    align-items: flex-start;
}

.lead p {
    margin-top: 5px;
}

.lead_img {
    width: 31px;
    margin-right: 20px;
}

.lead_contents {
    margin-left: 70px;
}

.lead_contents p {
    margin-bottom: 30px;
}

.long_contents p {
    line-height: 2;
}

.foot_img {
    max-width: 500px;
    width: 100%;
    margin-bottom: 150px;
    margin-left: 50%;
    transform: translatex(-50%);
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: 0 auto;

    box-sizing: content-box;
    border-bottom: 1px solid rgba(58, 58, 58, 0.45);
}

.footer_title {
    font-size: 55px;
}

.footer_title span {
    font-family: "adorn-garland", sans-serif;
    font-size: 35px;
}

.to_top {
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.6s;
    /*デフォルトで非表示にする*/
    opacity: 0;
    visibility: hidden;
}

/*このクラスが付与されると表示する*/
.active {
    opacity: 1;
    visibility: visible;
}

.to_top p {
    font-size: 23px;
}

.to_top img {
    width: 46px;
}

.copyright {
    text-align: center;
    margin: 55px 0;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    .pc_only {
        display: none;
    }

    .sp_only {
        display: block;
    }

    .header_border {
        display: none;
    }
    .footer_border {
        display: none;
    }

    /*ハンバーガー*/

    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #636363;
        opacity: 0.5;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        position: absolute;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #636363;
        opacity: 0.5;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /*ハンバーガー閉じる*/
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /*ハンバーガーメニュー*/
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(122, 122, 122, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
    }

    .icon {
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 80px;
        margin-top: -200px;
        transform: translateX(-30px);
    }

    .icon img {
        width: 29px;
        margin-left: 40px;
        margin-right: 10px;
    }
}
