@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /*0.3秒かけてかわる*/
    transition: 0.3s;
}

a:hover {
    /*不透明度*/
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/*header*/

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 7% 0 3%;
    box-sizing: border-box;
}

.header_slider img {
    width: 100%;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /*ハンバーガー*/

    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        position: absolute;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /*ハンバーガー閉じる*/
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /*ハンバーガーメニュー*/
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

main {
    background-color: #e8d9bf;
}

.lead1 {
    font-size: 30px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 57px;
}

.lead2 {
    font-size: 82px;
    text-align: center;
    padding-bottom: 25px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

.lead3 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 100px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

.section {
    max-width: 1000px;
    margin: 0 auto;
}

#about {
    display: flex;
    justify-content: space-between;
}

.about_img {
    width: 50%;
}

.about_img img {
    border-bottom-right-radius: 80px;
}

.about_text {
    width: 41%;
    margin-right: 10px;
}

#about_text h2 {
    width: 272px;
}

.topic {
    font-size: 44px;
    line-height: 1.38;
    margin-top: 40px;
}

.detail {
    font-size: 16px;
    line-height: 1.62;
    margin-top: 20px;
}

#menu {
    padding: 0 10px;
}

#menu h2 {
    width: 151px;
    margin: 97px auto 46px;
}
.menu_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_contents li {
    width: 30%;
}

.menu_contents li img {
    border-top-right-radius: 40px;
}

h3 {
    color: #d30202;
    font-size: 38px;
    margin-top: -12px;
    font-weight: normal;
}

li p {
    margin-top: 18px;
    font-size: 17px;
    line-height: 1.47;
}

#gallery h2 {
    width: 245px;
    margin: 100px auto 30px;
}

#gallery div {
    width: 20%;
    display: flex;
}

#event {
    padding: 0 10px;
}

#event h2 {
    width: 173px;
    margin: 70px auto 30px;
}

.event_list {
    display: flex;
    justify-content: center;
    border: 4px solid;
    background-color: #fff;
    padding: 30px;
    font-size: 23px;
}

.event_list a {
    text-decoration: underline;
}

.date {
    padding-right: 50px;
    line-height: 1.95;
}
#access h2 {
    width: 213px;
    margin: 75px auto 45px;
}
.map iframe {
    display: block;
    width: 100%;
    height: 470px;
}
.footer_wrap {
    display: flex;
    margin-top: 80px;
}

.footer_logo {
    width: 226px;
}
.footer_info {
    font-size: 20px;
    margin-left: 65px;
}
.footer_info li {
    line-height: 1.95;
}

.to_top {
    position: fixed;
    bottom: 0;
    right: 0;
}
.footer_copy {
    margin: 70px auto;
    text-align: center;
}
